<header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-tl from-10% to-cyan-600">
  <div class="flex align-middle items-center px-10 mx-auto gap-6">
    <div class="text-white">

      <a [routerLinkActiveOptions]="{exact: true}" routerLink="/" routerLinkActive="font-bold text-accent"
        class=" gap-3 flex items-center max-h-16  border-r-white border-r-2 pr-6">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
        </svg>

        Dating App
      </a>
    </div>
    <nav class="flex gap-3 my-2 uppercase text-1xl text-white">
      @if(AccountService.currentUser()) {
      <a routerLink="/members" routerLinkActive="font-bold text-accent">Matches</a>
      <a routerLink="/lists" routerLinkActive="font-bold text-accent">List</a>
      <a routerLink="/messages" routerLinkActive="font-bold text-accent">Messages</a>
      <a *appHasRole="['Admin','Moderator']" routerLink="/admin" routerLinkActive="font-bold text-accent">Admin</a>
      }
      <a routerLink="/errors" routerLinkActive="font-bold text-accent">Test Errors</a>

    </nav>
    @if (busyService.busyrequestCount()>0) 
      {
        <span class="loading loading-bars text-accent"></span>
      }
    
    <div class="dropdown align-sub ml-auto dropdown-bottom dropdown-end">
      <div tabindex="1" role="button" class="flex flex-col justify-center 
  align-middle text-white cursor-pointer uppercase text-xs"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 flex self-center">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42" />
        </svg>
        <span >{{selectedtheme()}}</span>
      </div>
      <ul tabindex="1" class="dropdown-content menu bg-base-100 rounded-box z-50 w-52 p-2 shadow-sm">
        @for (theme of theme; track $index) {
          <li  (click)="handleSeletedTheme(theme)" ><a>{{theme}}</a></li>
        }
      </ul>
    </div>
    @if(AccountService.currentUser(); as user) {
    <div class="dropdown dropdown-left flex align-middle ml-auto gap-3">
      <div tabindex="0" role="button" class="flex text-white text-xl cursor-pointer gap-3">
        <img [src]="user?.imageUrl ||'/user.png'" alt="profile" class="w-8 h-8 rounded-full object-cover">

      </div>
      <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
        <li><a routerLink="/members/{{user.id}}">Edit Profile</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
      <span>{{user.displayName}}</span>
    </div>
    }@else {
    <div class="flex align-middle ml-auto gap-3">
      <form (ngSubmit)="Login()" class="flex items-center gap-3">
        <input [(ngModel)]="creds.email" name="Frist" type="text" placeholder="email" class="input">
        <input [(ngModel)]="creds.password" name="Last" type="password" placeholder="password" class="input">
        <button type="submit" class="btn btn-sm btn-primary">Login</button>

      </form>
    </div>
    }


  </div>
</header>